body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
#container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 500px;
  height: 650px;
  text-align: center;
}
#portrait {
  margin-top: 30px;
  border-radius: 50%;
}
h1,
h2 {
  color: #ffffff;
}
#bio {
  color: #cfcfcf;
  width: 50%;
  margin: 0 auto;
}
#logo {
  width: 65px;
  height: 65px;
  margin-top: 30px;
}
